#searchFilter {
    width: 33%;
}

#searchFilter input {
    width: calc(100% - 25px);
    padding: 1px 25px 1px 1px;
}

#searchFilter::after {
    position: relative;
    top: 3px;
    left: -25px;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="%23647492"><path d="M5.91666667,7.58127661 L0.760655869,1.48429384 C0.348411388,0.99681474 0.694912325,0.25 1.33333333,0.25 L14.6666667,0.25 C15.3050877,0.25 15.6515886,0.99681474 15.2393441,1.48429384 L10.0833333,7.58127661 L10.0833333,13 C10.0833333,13.5575365 9.49659896,13.9201583 8.99792314,13.6708204 L6.33125647,12.3374871 C6.07716845,12.210443 5.91666667,11.9507457 5.91666667,11.6666667 L5.91666667,7.58127661 Z M13.0501889,1.75 L2.94981108,1.75 L7.23934413,6.82237283 C7.35384231,6.95776692 7.41666667,7.12934945 7.41666667,7.30666667 L7.41666667,11.2031412 L8.58333333,11.7864745 L8.58333333,7.30666667 C8.58333333,7.12934945 8.64615769,6.95776692 8.76065587,6.82237283 L13.0501889,1.75 Z"></path></svg>');
    opacity: .8;
}
